//this is an example of the .env file. Copy this file to .env and fill in the values.
NODE_ENV=
PORT=
JWT_SECRET=
JWT_EXPIRES_IN=
MONGO_URI=
API_BASE_URL=/api/v1

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SENDER_EMAIL=
SENDER_NAME=